../HELP.md
!ChatBot/.mvn/wrapper/maven-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###

*.iws
*.iml
*.ipr
.idea/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignore Spring Boot application properties file
/src/main/resources/application.properties
# Ignore .env file containing sensitive information
.env
# Ignore target directory
target/


